header {
  height: 60px;
  border-bottom: 1px solid rgba(0,0,0,.2);
  padding: 20px;
}


#content {
  margin: 20px 0;
}


ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list {
  margin: 20px 0;
}

.date,
.updated {
  font-size: .8em;
  color: rgba(0,0,0,.5);
}

.actions {
  margin: 20px 0;
}